{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kenakata</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

	<!-- Header -->
	<div class="container">
		<header class="header">
			<div class="shop_name">Kenakata</div>
			<nav class="navigation">
				<ul class="navigation__ul">
					<li class="navigation__li"><a href="#">Collection</a></li>
					<li class="navigation__li"><a href="#">Men</a></li>
					<li class="navigation__li"><a href="#">Women</a></li>
					<li class="navigation__li"><a href="#">Blog</a></li>
					<li class="navigation__li"><a href="#">Faq</a></li>
				</ul>
			</nav>
			<a href="#" class="shop_bag"><i class="fas fa-shopping-bag"></i></a>
			<script src="https://kit.fontawesome.com/a0f642a8f9.js" crossorigin="anonymous"></script>	
		</header>
	</div>

	<!-- Intro -->
	<div class="intro_wrap">
		<div class="container">

			<div class="intro">
				<img class="intro_girl" src="{% static 'images/intro-girl.jpg' %}" alt="">
				
				<div class="intro__desc_wrap">
					<div class="intro__title">Kenakata Summer Collection</div>
					<div class="intro__text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui deserunt mollit anim id est laborum.</div>
					<div class="intro__btn_wrap">
						<button class="btn_shop">Shop now</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- New products  -->
	<div class="container">
		<div class="new_products">
			<div class="products__headline">
				<div class="products__title">New Products</div>
				<div class="products__subtitle">dolor sit amet</div>
			</div>
			
			<div class="products__product product">
				<div class="product__img">
					<img class="img" src="{% static 'images/new-products-1.jpg' %}" alt="">
					<div class="product__buttons">
						<button class="product__btn product__btn_1">Add to cart</button>
						<button class="product__btn product__btn_2">Quick View</button>
					</div>
				</div>
				<div class="product__title">Cotton Polo Shirt</div>
				<div class="product__price">
					<div class="old_price">$100</div>
					<div class="new_price">$95</div>
				</div>
			</div>
			<div class="products__product product">
				<div class="product__img">

					<img class="img" src="{% static 'images/new-products-2.jpg' %}" alt="">
					<div class="product__buttons">
						<button class="product__btn product__btn_1">Add to cart</button>
						<button class="product__btn product__btn_2">Quick View</button>
					</div>
				</div>
				<div class="product__title">Cotton Polo Shirt</div>
				<div class="product__price">
					<div class="old_price">$100</div>
					<div class="new_price">$95</div>
				</div>
			</div>
			<div class="products__product product">
				<div class="product__img">
					<img class="img" src="{% static 'images/new-products-3.jpg' %}" alt="">
					<div class="product__buttons">
						<button class="product__btn product__btn_1">Add to cart</button>
						<button class="product__btn product__btn_2">Quick View</button>
					</div>
				</div>
				<div class="product__title">Cotton Polo Shirt</div>
				<div class="product__price">
					<div class="old_price">$100</div>
					<div class="new_price">$95</div>
				</div>
			</div>
			<div class="products__product product">
				<div class="product__img">
					<img class="img" src="{% static 'images/new-products-4.jpg' %}" alt="">
					<div class="product__buttons">
						<button class="product__btn product__btn_1">Add to cart</button>
						<button class="product__btn product__btn_2">Quick View</button>
					</div>
				</div>
				<div class="product__title">Cotton Polo Shirt</div>
				<div class="product__price">
					<div class="old_price">$100</div>
					<div class="new_price">$95</div>
				</div>
			</div>
			<div class="products__product product">
				<div class="product__img">
					<img class="img" src="{% static 'images/new-products-5.jpg' %}" alt="">
					<div class="product__buttons">
						<button class="product__btn product__btn_1">Add to cart</button>
						<button class="product__btn product__btn_2">Quick View</button>
					</div>
				</div>
				<div class="product__title">Cotton Polo Shirt</div>
				<div class="product__price">
					<div class="old_price">$100</div>
					<div class="new_price">$95</div>
				</div>
			</div>
			<div class="products__product product">
				<div class="product__img">
					<img class="img" src="{% static 'images/new-products-6.jpg' %}" alt="">
					<div class="product__buttons">
						<button class="product__btn product__btn_1">Add to cart</button>
						<button class="product__btn product__btn_2">Quick View</button>
					</div>
				</div>
				<div class="product__title">Cotton Polo Shirt</div>
				<div class="product__price">
					<div class="old_price">$100</div>
					<div class="new_price">$95</div>
				</div>
			</div>
			<div class="products__product product">
				<div class="product__img">
					<img class="img" src="{% static 'images/new-products-7.jpg' %}" alt="">
					<div class="product__buttons">
						<button class="product__btn product__btn_1">Add to cart</button>
						<button class="product__btn product__btn_2">Quick View</button>
					</div>
				</div>
				<div class="product__title">Cotton Polo Shirt</div>
				<div class="product__price">
					<div class="old_price">$100</div>
					<div class="new_price">$95</div>
				</div>
			</div>
			<div class="products__product product">
				<div class="product__img">
					<img class="img" src="{% static 'images/new-products-8.jpg' %}" alt="">
					<div class="product__buttons">
						<button class="product__btn product__btn_1">Add to cart</button>
						<button class="product__btn product__btn_2">Quick View</button>
					</div>
				</div>
				<div class="product__title">Cotton Polo Shirt</div>
				<div class="product__price">
					<div class="old_price">$100</div>
					<div class="new_price">$95</div>
				</div>
			</div>
		</div>
	</div>
	<!-- New products -->

	<!-- Band-1  -->
	<div class="band-1_wrap">
		<div class="container">

			<div class="band-1">
				<div class="band-1__title">Get something you love</div>
				<div class="band_1__btn_wrap">
					<button class="btn_band-1">Shop now</button>
				</div>
			</div>

		</div>
	</div>
	<!-- Band-1  -->

	<!-- Featured products -->
	<div class="container">
		<div class="featured_products">
			<div class="products__headline">
				<div class="products__title">New Products</div>
				<div class="products__subtitle">dolor sit amet</div>
			</div>
			<div class="products__product product">
				<div class="product__img">
					<img class="img" src="{% static 'images/new-products-8.jpg' %}" alt="">
					<div class="product__buttons">
						<button class="product__btn product__btn_1">Add to cart</button>
						<button class="product__btn product__btn_2">Quick View</button>
					</div>
				</div>
				<div class="product__title">Cotton Polo Shirt</div>
				<div class="product__price">
					<div class="old_price">$100</div>
					<div class="new_price">$95</div>
				</div>
			</div>
			<div class="products__product product">
				<div class="product__img">
					<img class="img" src="{% static 'images/new-products-9.jpg' %}" alt="">
					<div class="product__buttons">
						<button class="product__btn product__btn_1">Add to cart</button>
						<button class="product__btn product__btn_2">Quick View</button>
					</div>
				</div>
				<div class="product__title">Cotton Polo Shirt</div>
				<div class="product__price">
					<div class="old_price">$100</div>
					<div class="new_price">$95</div>
				</div>
			</div>
			<div class="products__product product">
				<div class="product__img">
					<img class="img" src="{% static 'images/new-products-10.jpg' %}" alt="">
					<div class="product__buttons">
						<button class="product__btn product__btn_1">Add to cart</button>
						<button class="product__btn product__btn_2">Quick View</button>
					</div>
				</div>
				<div class="product__title">Cotton Polo Shirt</div>
				<div class="product__price">
					<div class="old_price">$100</div>
					<div class="new_price">$95</div>
				</div>
			</div>
			<div class="products__product product">
				<div class="product__img">
					<img class="img" src="{% static 'images/new-products-10.jpg' %}" alt="">
					<div class="product__buttons">
						<button class="product__btn product__btn_1">Add to cart</button>
						<button class="product__btn product__btn_2">Quick View</button>
					</div>
				</div>
				<div class="product__title">Cotton Polo Shirt</div>
				<div class="product__price">
					<div class="old_price">$100</div>
					<div class="new_price">$95</div>
				</div>
			</div>
		</div>
		<div class="brows_all_products">
			<button class="brows_all_products__btn">Brows all items</button>
		</div>
	</div>

	<!-- Band-2 -->
	<div class="band-2"></div>

	<!-- Blog posts -->
	<div class="container">
		<div class="products__headline">
			<div class="products__title">New Products</div>
			<div class="products__subtitle">dolor sit amet</div>
		</div>
		
		<div class="blog">
			<div class="blog__item">
				<img src="{% static 'images/blog-posts-1.jpg' %}" alt="">
				<div class="blog__headline">
					<div class="blog__title">Lorem Dolor Amet Consectetur Dipisicing</div>
					<div class="blog__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div>
					<a href="#" class="read_more">Read more<span class="read_more_arrow"> ></span></a>
				</div>
			</div>

			<div class="blog__item">
				<img src="{% static 'images/blog-posts-2.jpg' %}" alt="">
				<div class="blog__headline">
					<div class="blog__title">Lorem Dolor Amet Consectetur Dipisicing</div>
					<div class="blog__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div>
					<a href="#" class="read_more">Read more<span class="read_more_arrow">  ></span></a>
				</div>
			</div>

			<div class="blog__item">
				<img src="{% static 'images/blog-posts-3.jpg' %}" alt="">
				<div class="blog__headline">
					<div class="blog__title">Lorem Dolor Amet Consectetur Dipisicing</div>
					<div class="blog__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div>
					<a href="#" class="read_more">Read more<span class="read_more_arrow"> ></span></a>
				</div>
			</div>

			<div class="blog__item">
				<img src="{% static 'images/blog-posts-4.jpg' %}" alt="">
				<div class="blog__headline">
					<div class="blog__title">Lorem Dolor Amet Consectetur Dipisicing</div>
					<div class="blog__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div>
					<a href="#" class="read_more">Read more<span class="read_more_arrow"> ></span></a>
				</div>
			</div>
		</div>
		<div class="brows_all_products">
			<button class="brows_all_products__btn">read All post</button>
		</div>
	</div>

	<!-- To join -->
	<div class="container">
		<div class="join">
			<div class="join__title">Join 100,000 members already collaborating </div>
			<div class="join__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
			<form class="join_form" action="">
				<input type="text" value="Your email address">
				<button class="product__btn" type="submit">Subscibe</button>
			</form>
		</div>
	</div>

	<!-- Footer -->
	<footer class="footer_wrap">
		<div class="container">

			<div class="footer">
				<div class="footer__info">
					<a class="info" href="#">Your account</a>
					<a class="info" href="#">Contact us</a>
					<a class="info" href="#">Terms of service</a>
				</div>
				<div class="copyright">Copyright © 2016 KenaKata. All Rights Reserved. Designed by Shuvo</div>
			</div>

		</div>
	</footer>

</body>
</html>